/* App.css */
@import "tailwindcss";

/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .home-container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  